<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Getting started with Vue.js</title>
</head>
<body>

    <div id="shopping-list">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <input type="text" v-model="newItem" placeholder="Add item to shooping list" @keyup.enter="saveItem">
        <button class="btn btn-primary" @click="saveItem">Add</button>
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>

    <script>
        var shoppingList = new Vue
        ({
            el: '#shopping-list',
            data:
            {
                header: 'shopping list app',
                items: 
                [
                    '1kg flour',
                    '6 eggs',
                    'A bag of crisps'
                ],
                newItem: ''
            },
            methods: 
            {
                saveItem: function() {
                    this.items.push(this.newItem);
                    this.newItem = "";
                }
            }
        })
    </script>
</body>
</html>